:root{
    --Violet: hsl(257, 40%, 49%);
    --Magenta: hsl(300, 69%, 71%);
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/bg-desktop.svg);
    background-color: var(--Violet);
}
header nav img{
    display: inline;
    width: 200px;
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-main{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;

}

.col-img img{
    width: 100%;
}
.col-text{
    width: 400px;
    color: white;
    padding-top: 50px;
    margin: 0 auto;
}
.col-text h1{
    font-size: 600;
    font-weight: bolder;
    line-height: 35px;
}
.col-text p{
    color: white;
    line-height: 21px;
    padding-top: 2px;
}
button{
    width: 150px;
    height: 40px;
    margin: 20px auto;
    border: none;
    color: var(--Violet);
    border-radius: 18px;
    
}
button:hover{
    background-color: var(--Magenta);
    color: white;
}
.social-icons{
    display: flex;
    justify-content: end;
    height: 50px;
    width: 100%;
    
}
footer .fa{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    padding: 6px 8px;
    margin: 2px 10px;
}

footer .fa:hover{
    background-color: none;
    color: var(--Magenta);
    border: 1px solid var(--Magenta)
}

@media screen and (max-width: 375px)  {
    body{
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-color: var(--Violet);    
    }
    header nav img{
        display: inline;
        width: 150px;
        margin-left: 20px;
        margin-top: 10px;
        
    }    
    .container-main{
        display: flex;
        flex-direction: column;

    }
    .col-img img{
        width: 300px;
        margin-top: 13px;
    }
    .col-text{
        display: grid;
        place-content: center;
        width: 300px;
        color: white;
        padding-top: 20px;  
          
    }
    .col-text h1{
        font-size: 25px;
        font-weight: bolder;
        line-height: 25px;
        text-align: center;
        padding: .1em;
        
    }
    .col-text p{
        font-size: 16px;
        color: white;
        line-height: 20px;
        padding: 18px;
        text-align: center;
        
    }
    button{
        width:190px ;
        height: 30px;
        justify-self: center;   
    }
    .social-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px; 
        margin: 0px auto;   
    }footer .fa{
        margin: 2px 10px;
        padding: 7px;
    }
    
    footer .fa{
        font-size: 15px;
    }
        
}

